body{
    color: white;
}

#background{
    background-image: url(post-it-notes.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity:.8;
    height: 1000px;
}

#title{
}

#createTask {

    background-color: green;
    color: white;
    height: 24px;
    width: 240px;
    font-size: 16px;
    padding-bottom: 2px;
    border-radius: 5px;
  
}

h2{
    font-size: 36px;
}

span{
    margin: -15px 0 0 0; 
    font-size:18px;
}

.text{
    max-block-size: 100px;
}

h1{
    font-size:50px;
}

 .true{   
     text-decoration: line-through;
 }

.delete{
    color: white;
    background-color: red;
    border-radius: 5px;
}


.complete{
    color: black;
    background-color: yellow;
    border-radius: 5px;
}